.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0 50px;
    height: 293px;
}

.header_menu {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    display: block;
}

.header__links-list-item {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    text-transform: lowercase;
    text-decoration: none;
    width: auto;
    height: auto;
    color: #000;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__logo {
    display: block;
    justify-content: center;
    width: 135px;
    height: auto;
}

.header__logo-image {
    display: block;
    margin: 0;
}

.header_links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin-left: 196px;
    margin-top: -8px;
    text-underline-offset: 4px;
}

.overlay {
    background-color: rgb(0 0 0 /0.6);
    position: absolute;
    z-index: 1;
    inset: 0;
    pointer-events: none;
}

.title {
    z-index: 1;
}

.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    height: 757px;
    padding: 0 50px;
    z-index: 1;
}

.description {
    z-index: 0;
}

.cover__title {
    display: flex;
    font-family: Raleway;
    font-weight: 700;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    z-index: 3;
    margin-top: 165px;
}

.aligned-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aligned-text_left {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 30px;
}

.aligned-text_center {
    display: flex;
    margin-left: 330px;
    margin-bottom: 20px;
    letter-spacing: 30px;
}

.aligned-text_right {
    display: flex;
    margin-left: 615px ;
    margin-bottom: 100px;
    letter-spacing: 30px;
}

.cover__description {
    font-family: Raleway;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    word-spacing: 18.5px;
    z-index: 3;
    color: #fff;
}

.bet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: transparent;
    border: solid 1px  #fff;
    margin: 0;
    color: #fff;
    padding: 12px 32px;
}

.lots {
    margin-top: 180px;
    padding: 0 50px;
}

.lots__heading {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 18px;
}

.lots__card-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 25px;
    list-style: none;
    margin-top: 27px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 596px;
    width: 334px;
    justify-content: space-between;
    align-items: center;
    padding: 47px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    z-index: 2;
}

.card__text {
    display: flex;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    z-index: 2;
    align-items: center;
    line-height: 1.2;
    margin-bottom: 1px ;
}

.lots__look-more-link {
    display: flex;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
    text-decoration: underline;
    margin: 31px 0 2px 14px;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    align-items: start;
    padding: 0 39px;
    margin-top: 155px;
}

.about__column {
    display: flex;
    flex-direction: column;
}
.about__column_left {
    align-items: center;
    margin-left: -29px;
}

.about__column_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 101px;
    margin-left: -15px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 62%;
    height: auto;
}

.about__title {
    font-family: Raleway;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 700px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 69px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
    background-color: #fff;
    font-family: Raleway, sans-serif;
    margin-top: 181px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.address__link {
    color: #000;
    font-size: 18px;
    text-decoration: underline;
}

.address__text {
    font-size: 18px;
    color: #000;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-icon {
  width: 48px;
  height: auto;
}